
.shoes {
    height: 300px;
    width: 300px;
}

nav {
    height: 300px;
    width: 15%;
    float: left;
    background-color: orange;
}

section {
    text-align: center;
    width: 70%;
    float: left;
}

article {
    height: 300px;
    width: 15%;
    float: left;
    background-color: orange;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

footer {
    text-align: center;
}